pandas
numpy
scikit-learn
tensorflow
tqdm
# tensorflow[and-cuda]
tensorflow[and-cuda]
torch
transformers 
openai-whisper 
sounddevice 
scipy
ffmpeg        # needed for MP3 support in WSL
pyttsx3